<!DOCTYPE html>
<html>
  <head>
    <title>Google Map Pin</title>
    <meta name="viewport" content="initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <meta charset="utf-8">
    <style>
        #map {
            height: 100%;
        }
        html {
            height: 100%;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        #map {
            height: 600px;
            width: 700px;
        }
    </style>
  </head>
  <body>
  <div id="map"></div>
    <script>
        var jsonObj = [{"location":"<?=$this->translate('scgcement');?>", "lat": "13.805307", "lng": "100.537136"},
                        {"location":"<?=$this->translate('lotus_prachacheun');?>", "lat": "13.805794", "lng": "100.534604"},
                        {"location":"<?=$this->translate('esarn_lamplern');?>", "lat": "13.807284", "lng": "100.534744"}];

        function initMap() {
            var mapOptions = {
                center: {lat: 13.806367, lng: 100.536278},
                zoom: 16
            };

            var maps = new google.maps.Map(document.getElementById("map"), mapOptions);

            var marker, info;

            $.each(jsonObj, function(i, item){

                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(item.lat, item.lng),
                    map: maps,
                    title: item.location
                });

                info = new google.maps.InfoWindow();

                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                        info.setContent(item.location);
                        info.open(maps, marker);
                    };
                })(marker, i));

            });

        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDI_VfAn8g6xd6HNAMbKkntAJ4BpbhyxN8&callback=initMap" async defer></script>
  </body>
</html>