<div class="container" style="margin-top:10px;">
	<div class="jumbotron">
		<h1><?=$this->translate('hello');?>, ZF3!</h1>
		<p>...</p>
		<p><a class="btn btn-primary btn-lg" href="<?=$this->url('home');?><?=$this->lang;?>/user/" role="button"><?=$this->translate('learn more');?></a></p>
                <p>
                    <a class="btn btn-primary btn-lg" href="<?=$this->url('home');?>map/<?=$this->lang;?>/index" role="button"><?=$this->translate('mappin');?></a>
                    <a class="btn btn-primary btn-lg" href="#" role="button" onclick="echoSendEmail();"><?=$this->translate('sendgit');?></a>
                </p>
	</div>
</div>
<?php
    function sendEmail() {
	require_once("mimemail.inc.php");
	$mail = new MIMEMAIL("HTML"); // HTML Format
	$mail->senderName = "Saranya Pocharoen";
	$mail->senderMail = "s.pocharoen@gmail.com";
	$mail->subject = "GIT url of code (Assignment)";
	$mail->body = "Dear Line Manager,\n send GIT url of code (Assignment) : https://SaranyaP@bitbucket.org/SaranyaP/zf3-starter-kit.git\nBest Regards,\nSaranya Pocharoen";
	$mail->create();
	$mail->send("Tonywilk@scg.com");
        
	echo "Thank you for sending an email";
    }
?>
<script>
    function echoSendEmail() {
        alert("<?php sendEmail();?>");
    }
</script>
